@import "tailwindcss";

.grid {
  grid-template-areas:
    "h1"
    "input"
    "tasks"
    "info";
  justify-content: center;
  justify-self: center;
}

@media (max-width: 470px) {
  .input {
    width: 100%;
    margin: 0 15px;
  }

  .btns {
    width: 100%;
    padding-top: 10px;
  }

  .task-name {
    max-width: 100%;
    margin: 0;
  }
}
